<html>

<head>
  <script language="javascript">
    function pasuser(form) {
      if (form.id.value == "vanderson") {
        if (form.pass.value == "bossi") {
          location = "Index.html"
        } else {
          alert("Invalid Password")
        }
      } else {
        alert("Invalid UserID")
      }
    }
  </script>
  <link rel=”favicon” charset=”favicon.ico” />
  <title>Login</title>
  <meta charset="utf-8">
  <img src='https://cdn-02.independent.ie/incoming/article37527011.ece/537ca/AUTOCROP/w620/GettyImages-130899584.jpg' width="300px" />
</head>


<body style="background-color:powderblue;width:100px;height:100px;top:20%;left:40%;position: absolute;">

  </br> </br>

  <form  name="login">
    <input name="id" type="text">
    <input name="pass" type="password">
    <input type="button" value="Logar" onClick="pasuser(this.form)">
    <input type="Reset" value="Limpar">
  </form>
</body>

</html>